/* card-img keeps the profile pic touching the bottom of the column*/
.card-img {
    height: 100%;
    object-fit: cover;
  }
  
  @media (min-width: 768px) {
    .card {
        display: flex;
    }
    .card-img {
      max-width: 100%;
    }
  }

  .project-card {
    background-color: #F7F9FF;
  }
/*offwhite color selection --> style="background-color: #F7F9FF;